@model IEnumerable<GummyBearKingdom.Models.Product>

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>To Do List</h2>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach (var product in Model)
        {
            <li> @Html.ActionLink((string) product.Name, "Details", new { id = product.ProductId })</li>
        }
    </ul>

    <p>@Html.ActionLink("Add new item", "Create")</p>
</body>
</html>