@{
    ViewData["Title"] = "Gummy Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
 <div class="main-page">

   

<div class="main">
     <img src="~/images/mainpage.png" alt="Alternate Text" />
</div>
     <p class="font">@Html.ActionLink("Enter Here", "Index", "Products")</p>
    </div>