<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />


    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
